
.movies-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--ui-background-color);
}

.movie-card {
    
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    cursor: pointer;
    
}