* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
using my previous css root dark theme and light theme values 
https://github.com/jonas060831/men-stack-lab/blob/master/public/css/global.css
*/
:root {
  --light-bg: #f2f4f7;
  --dark-bg: #333;

  --light-font-color: #000;
  --dark-font-color: #fff;

  --light-link-font-color: rgb(0, 121, 251);
  --dark-link-font-color: #ff8800;

  --light-ui-background-color: rgb(255, 255, 255);
  --dark-ui-bakcground-color: #2d2d2d;
}

body {
  background-color: var(--bg);
  color: var(--font-color);
}


@media (prefers-color-scheme: dark) {
  :root {
      --bg: var(--dark-bg);
      --font-color: var(--dark-font-color);
      --link-color: var(--dark-link-font-color);
      --accent-color: var(--dark-link-font-color);
      --ui-background-color: var(--dark-ui-bakcground-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
      --bg: var(--light-bg);
      --font-color: var(--light-font-color);
      --link-color: var(--light-link-font-color);
      --accent-color: var(--light-link-font-color);
      --ui-background-color: var(--light-ui-bakcground-color);
  }
}

